.main-layout-container {
  width: 90%;
  max-width: 600px;
  height: 80%;
  max-height: 700px; /* Reduzido para dar mais sensação de 'flutuar' */
  margin: auto;
  
  background-color: var(--color-surface);
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow-main);
  
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 40px 10px 40px 40px;
  z-index: 10;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-right: 15px; /* Menor espaço entre form e scroll */
}

/* Esconder a scrollbar nativa */
.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px; /* Container mais estreito */
}

.scroll-track-pill {
  width: 4px;
  height: 120px; /* Reduzido de 190px para 120px */
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 100px;
  position: relative;
}

.scroll-thumb-pill {
  width: 4px;
  height: 35px; /* Reduzido proporcionalmente (de 55px para 35px) */
  background-color: var(--color-primary);
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.05s linear;
}
