.main-layout-container {
  width: calc(100% - 40px);
  max-width: 600px;
  height: calc(100% - 80px);
  max-height: 800px;
  margin: auto;
  
  background-color: var(--color-surface);
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow-main);
  
  position: relative;
  display: flex;
  flex-direction: row; /* Alterado para row para posicionar o scroll ao lado */
  padding: 40px;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-right: 20px;
}

/* Esconder a scrollbar nativa para usar apenas nosso componente visual */
.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Espaço para o indicador customizado */
.custom-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Base de posicionamento na lateral */
}

.scroll-track-pill {
  width: 10px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.15); /* Pílula clara mais visível */
  border-radius: 100px;
  position: relative;
  overflow: hidden; /* Thumb não vaza os limites */
}

.scroll-thumb-pill {
  width: 10px;
  height: 55px;
  background-color: var(--color-primary); /* DB2164 */
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.1s ease-out; /* Movimento suave ao scrollar */
}

