.main-layout-container {
  width: calc(100% - 40px);
  max-width: 600px;
  height: calc(100% - 80px);
  max-height: 800px;
  margin: auto;
  
  background-color: var(--color-surface);
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow-main);
  
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 40px 10px 40px 40px; /* Reduzi padding-right de 40px para 10px */
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-right: 15px; /* Menor espaço entre form e scroll */
}

/* Esconder a scrollbar nativa */
.content-wrapper::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px; /* Container mais estreito */
}

.scroll-track-pill {
  width: 4px; /* Mais discreto (4px em vez de 10px) */
  height: 190px;
  background-color: rgba(255, 255, 255, 0.08); /* Ainda mais sutil */
  border-radius: 100px;
  position: relative;
  cursor: pointer; /* Indica que pode interagir */
}

.scroll-thumb-pill {
  width: 4px;
  height: 55px;
  background-color: var(--color-primary); /* DB2164 */
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.05s linear;
  cursor: grab;
}

.scroll-thumb-pill:active {
  cursor: grabbing;
}


